<%- include ("partials/header.ejs") %>
<!-- main display -->
<div class="main">
    <div class="main-content">
        <h1>Game On!!!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro explicabo quia minima labore quaerat placeat aspernatur tempora hic quod dolore.</p>
        <form action="/players/signup" method="get">
            <button id="main-btn">
                Let's get started
            </button>
        </form>
    </div>
</div>
<!-- games -->
<%- include ("games.ejs") %>
<!-- news -->
<%- include ("highlightnews.ejs") %>
<!-- video -->
<%- include ("video.ejs") %>
<!-- email -->
<%- include ("email.ejs") %>
<!-- footer -->
<%- include ("partials/footer.ejs") %>